* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background image */
#img-bg-main {
  background: url("nathan-dumlao-XOhI_kW_TaM-unsplash (1).jpg") center
    center/cover no-repeat;
  background-position-y: -950px;
}

/* Nav bar */
nav {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  justify-content: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: antiquewhite;
  font-size: 2rem;
  font-family: "BenchNine", sans-serif;
  margin: 0 90px;
}
