* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background image */
#img-bg-main {
  background: url("nathan-dumlao-XOhI_kW_TaM-unsplash (1).jpg") center
    center/cover;
  background-position-y: -950px;
}

/* Nav bar */
nav {
  background-color: pink;
  display: block;
  flex-direction: row;
  padding-top: 1rem;
  align-items: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: antiquewhite;
  width: calc(100% / 3);
}
